<div class="container">
  <input
    type="search"
    placeholder="Search..."
    class="searchBar"
    (keyup)="applyFilter($event)"
  />
</div>
<table [dataSource]="feeds" mat-table class="mat-elevation-z8">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let feeds">{{ feeds.title }}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let feeds">{{ feeds.date | date }}</td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Category</th>
    <td mat-cell *matCellDef="let feeds">
      <div class="imgDis">
        <img [src]="imgSwitchTable()" alt="img" class="imgTab" />
        {{ feeds.category }}
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
