<mat-sidenav-container class="sidNav-container">
  <mat-sidenav mode="side" opened>
    <form [formGroup]="profileForm" class="formStyle">
      <mat-card>
        <mat-card-header>
          <mat-card-title>New Post</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="full-width">
                <input
                  formControlName="title"
                  matInput
                  placeholder="title"
                  required
                />
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field class="full-width">
                <mat-label>choose a date</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="date"
                  required
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field class="full-width">
                <mat-label>category</mat-label>
                <mat-select
                  formControlName="category"
                  matNativeControl
                  required
                >
                  <mat-option value="desk">Desk Setup</mat-option>
                  <mat-option value="code">Code</mat-option>
                  <mat-option value="music">Music</mat-option>
                  <mat-option value="travel">Travel</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field class="full-width">
                <textarea
                  formControlName="description"
                  matInput
                  placeholder="description"
                  required
                ></textarea>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions align="start">
          <button (click)="submitedForm()" mat-stroked-button>Submit</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <input
        type="search"
        placeholder="Search..."
        class="searchBar"
        (keyup)="applyFilter($event)"
      />
    </div>

    <div *ngFor="let feed of feeds">
      <app-card [feed]="feed" class="container"></app-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
